/*Popup.html*/

.popupContainer {
	width: 250px;
	height: 250px;
	background-color: #f3f9da;
} 

.heading {
	font-family: MVBoli, MV Boli;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
	-webkit-text-fill-color: #278fdd; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 0.8px;
	-webkit-text-stroke-color: #1f1e1b;
}

.line {
	width: 221px;
	margin-left: 13px;
	border-bottom: 1px solid;
	opacity: 0.22;
	-webkit-text-stroke-color: #707070;
}

.upperText {
	font-family: MVBoli, MV Boli;
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
	color: #707070;
}

.lowerText {
	font-family: MVBoli, MV Boli;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
	color: #707070;
}

#limit {
	font-size: 16px;
	padding-left: 5px;
	font-family: CambriaMath, Cambria Math !important;
}

#total {
	font-size: 27px;
	padding-left: 10px;
	font-family: CambriaMath, Cambria Math !important;
}

.symbol {
	display: flex;
	justify-content: center;
}

#upperImg {
	margin-top: 8px;
}
/*
#middleImg {
	height: 16px;
	margin-top: -8px;
}*/

#lowerImg {
	margin-top: 13px;
	height: 16px;
}

.progressBarDiv {
	width: 190px;
	height: 6px;
	margin-left: 34px;
	margin-top: 5px;
	background-color: white;
	border-width: 0.5px;
	border-color: black;
	border-radius: 15px;
}

.progressBar {
	width: 140px;
	height: 6px;
	background-color: #278fdd;
	border-radius: 15px;
}

.add {
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.buttons {
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
}
.addButton {
	font-size: 15px;
	width: 74px;
	height: 30px;
	padding: 0px;
	border-width: 0px;
	background-color: #278fdd;
}

.resetButton {
	font-size: 15px;
	width: 74px;
	height: 30px;
	padding: 0px;
	border-width: 0px;
	background-color: #278fdd;
}

#amount {
	font-size: 25px;
	width: 23px;
	max-width: 70px;
	transition: width 0.25s;
	background-color: #f3f9da;
	-webkit-appearance: caret;
}


#amount::placeholder {
	opacity: 0.3;
	font-family: MVBoli, MV Boli;
}

#amount:focus {
	outline: none;
}


/*Options.html*/

#settings {
		-webkit-animation: rotation 3s infinite linear;
}

.centerHeader {

}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
		}
}
